<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackQT</title>
    <link href="/css/home.css" rel="stylesheet" />
</head>
<body>
    <button class="button1">Register</button>
    <button class="button2">Sign In</button>
    <div class="intro">
        <div class="para">
            <h1>Our Mission</h1>
            <h2>No E-waste goes to Landfill</h2>
            <h2>"Empowering a Sustainable Future: Your Trusted E-Waste Solution"</h2>
            <p>Each year, about 50 to 60 million tons of e-waste are generated, equivalent to only 2-3% of annual global waste. Yet, the damage that this amount of waste poses to our health and the environment may exceed the destructive power of all other wastes combined.</p>
            <p>Our vission is to recycle and upcycle all the e-waste generated in out housholds. We do so by directly connecting you to the recycler.</p>
        </div>
        <div class="introimg">
            <img src="C:\Users\lenovo\Desktop\JS\HackQT\hackQts\views\CDwbg.png">
        </div>
    </div>
</body>
</html>