body{
    background-color:antiquewhite;
}

.button1{
    background-color:#6E260E;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    border: solid white;
    width: 100px;
    height: 30px;
}

.button2{
    background-color: #6E260E;
    font-family: 'Times New Roman', Times, serif;
    border: solid white;
    color: white;
    text-align: center;
    width: 100px;
    height: 30px;
}

.logo{
    display: inline;
    width: 10%;
    height: auto;
}

.introbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: fit-content;
    margin-top: 2.5%;
    z-index: 1;
    
     
}

.introimg{
    aspect-ratio: 3/2;
    object-fit: contain;
    
}

.para{
    width: 40%;
}



.introimg img{
    width: 30vw;
}

.carddiv{
    margin: 5%;
}

.cardimg{
    width: inherit;
    height: 20em;
}



